:root {
    --color-texto: #2F3E36;      
    --color-acento: #F4A259;     
    --color-suave: #CBF3F0;     
    --color-fondo: #FFFFFF;      
    --color-principal: #2EC4B6;  
    --color-principal-oscuro: #1F8F84;
}

.nav-link.active{
    border-bottom: 3px solid var(--color-acento);   
}

.navbar{
    background-color: var(--color-principal);
}
.navbar-brand, .nav-link{
    color:var(--color-fondo);
}

.logo{
    height: 50px;
}

.avatar{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--color-suave);
    color: var(--color-principal-oscuro);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/*BODY cards del pro*/
.badge{
    background-color: var(--color-acento);
    color: var(--color-texto);
}

.card-pro{
    border-top: 4px solid var(--color-acento);
}

.link-curso{
    color: var(--color-principal-oscuro);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--color-fondo);
    border-color: var(--color-principal-oscuro);
}

.link-curso:hover{
    border-color: var(--color-acento);
    background-color: var(--color-fondo);
    color: var(--color-acento);
}